body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

form {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

input[type="text"], input[type="password"],input[type="email"] {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff4757;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff4757;
}

p {
    text-align: center;
}

p a {
    color: #ff4757;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

