body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.signup-form {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.signup-form button[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ff4757;
    color: #fff;
    cursor: pointer;
}

.signup-form button[type="submit"]:hover {
    background-color: #ff4757;
}

.signup-form p {
    margin-bottom: 10px;
}

.signup-form a {
    color: #ff4757;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}
.lim{
    text-align : center;
}
.sim{
    text-align : center;
}
